.footer {
  padding: 36px 0;
  background-color: var(--header-footer-light);
  color: var(--text-light);
  &.dark {
    background-color: var(--header-footer-dark);
    color: var(--text-dark);
  }

  &__wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__contacts {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 10px;
  }

  &__subscribe {
    input {
      width: 100%;
      max-width: 204px;
      height: 35px;
      border-radius: 20px;
      padding: 10px 80px 10px 10px;
      gap: 10px;
      border: none;

      font-family: Montserrat Alternates;
      font-weight: 400;
      font-size: 12px;
      line-height: 14.63px;

      color: #7e7e7e;
      background: #d7d7d7;
    }

    button {
      margin-left: 6px;
      width: 107px;
      height: 35px;
      border-radius: 20px;
      gap: 10px;
      padding: 10px;
      border: none;

      font-family: Montserrat Alternates;
      font-weight: 400;
      font-size: 12px;
      line-height: 14.63px;

      color: #ffffff;
      background-color: #000000;
    }

    p {
      margin-top: 18px;
      font-family: Montserrat Alternates;
      font-weight: 400;
      font-size: 6px;
      line-height: 7.31px;
    }
  }
}

a {
  margin-bottom: 0;
  font-family: Montserrat Alternates;
  font-weight: 400;
  font-size: 12px;
  line-height: 20.4px;
  text-decoration: none;
  color: var(--text-light) !important;
  &.dark {
    color: var(--text-dark) !important;
    }
}



@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .footer-logo{
    margin-right: 50px;
  }
  .footer {
   &__subscribe{
    text-align: end;
   }
  }
   .footer-subscribe__send{
      margin-top: 10px;
   }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  .footer{
    &__contacts{
      margin: 0 30px;
    }
  }

  .footer-logo{
    margin-right: 0;
      width: 30%;
  }

  a {
    font-size: 10px;
  }
  #footerSubEmail{
    padding: 10px;
  }
    }


/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
  .footer__contacts{
    margin: 0 20px;
  }
  .footer-logo{
    margin-right: 0;
      width: 25%;
  }
 
}
