 .footer {

   padding: 36px 0;
   

   &__wrp{
    display: flex;
   align-items: center;
   justify-content: space-between;
   }


   &__contacts {
     list-style: none;
     margin-bottom: 0;
     padding-left: 0;

     p {
       margin-bottom: 0;
       font-family: Montserrat Alternates;
       font-weight: 400;
       font-size: 12px;
       line-height: 20.4px;
     }

   }

   &__subscribe {

     input {
       width: 204px;
       height: 35px;
       border-radius: 20px;
       padding: 10px 80px 10px 10px;
       gap: 10px;
       border: none;

       font-family: Montserrat Alternates;
       font-weight: 400;
       font-size: 12px;
       line-height: 14.63px;

       color: #7E7E7E;
       background: #D7D7D7;
     }

     button {
       margin-left: 36px;
       width: 107px;
       height: 35px;
       border-radius: 20px;
       gap: 10px;
       padding: 10px;
       border: none;

       font-family: Montserrat Alternates;
       font-weight: 400;
       font-size: 12px;
       line-height: 14.63px;

       color: #ffffff;
       background-color: #000000;
     }

     p {
       margin-top: 18px;
       font-family: Montserrat Alternates;
       font-weight: 400;
       font-size: 6px;
       line-height: 7.31px;
     }
   }
 }