:root {
  --background: var(--bg-light);
  --text-colour: var(--text-light);
  --bg-dark: #6f6f6f;
  --text-dark: #fff;
  --bg-light: #fff;
  --text-light: #000;
  --header-dark: #3c3c3c;
  --main-content-dark: #5e5e5e;
}


/* Medium: 768px - 991px */


/* Small: 576px - 767px */



.header {
  padding: 32px 0;
  background-color: var(--bg-light);
  color: var(--text-light);

  &.dark {
    background-color: var(--header-dark);
    color: var(--text-dark);
  }

  &__wrp {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    width: 544px;
    display: flex;
    justify-content: space-between;
  }

  &-left__nav {
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      margin-bottom: 0;
      font-family: Montserrat Alternates;
      font-weight: 400;
      font-size: 12px;
      line-height: 14.63px;
      cursor: pointer;
    }

    &-interactive {
      display: flex;
      gap: 8px;

      cursor: pointer;
    }
  }

  &-right {
    p {
      font-family: Montserrat Alternates;
      font-weight: 400;
      font-size: 12px;
      line-height: 14.63px;
      margin-bottom: 0;
    }
  }
}

.header-btn {
  margin-bottom: 0;
  font-family: Montserrat Alternates;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  border: 0;
  background: none;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.header-dropdown-menu {
  border-radius: 10px;
}



.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 200px;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7a7a7a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#theme-switch {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 0;
  bottom: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background-image: url("../../img/sun.svg");
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  margin: auto 0;
}

#theme-switch:checked+.switch-slider {
  background-color: #7a7a7a;
}

#theme-switch:focus+.switch-slider {
  box-shadow: 0 0 1px #7a7a7a;
}

#theme-switch:checked+.switch-slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background-image: url("../../img/moon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.switch-slider.round {
  border-radius: 34px;
}

.switch-slider.round:before {
  border-radius: 50%;
}




@media (max-width: 991px) {
  .container {
    width: 720px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header {
    &-img {
      margin-left: 10px;
    }

    padding: 0;

    &__left {
      display: flex;
    }

    &__wrp {
      display: flex;
    }

    &-left {
      &__nav {
        display: flex;
        margin-left: 20px;
      }
    }


    .switch {
      display: none;
    }

    &-right {
      margin-left: 40px;
    }
  }
}


@media (max-width: 767px) {
  .container {
    width: 540px;
    padding: 10px 5px 10px 5px;

  }

  .header {
    padding: 0;

    &__left {
      display: flex;

      width: 544px;
      display: flex;
      justify-content: space-between;
    }

    &__wrp {
      display: flex;
    }

    &-left {
      &__nav {
        width: 300px;
        display: flex;
        align-items: center;

      }
    }

  


    .switch {
      display: none;
    }

    ;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 0 15px;
    width: 400px;

  }


  .header {
    padding-top: 20px;

    &-text {
      display: none;
    }

    &__left {
      display: flex;

      width: 544px;
      display: flex;
      justify-content: space-between;
    }

    &__wrp {
      display: flex;
    }

    &-left {
      &__nav {
        width: 300px;
        display: flex;
        align-items: center;
        margin-left: 50px;
      }
    }

    &-right {
      margin-left: 60px;
      display: none;
    }

    .switch {
      margin-left: 300px;
      margin-top: 1px;
      position: absolute;
      display: block;
    }
  }
}