<section class="image-slider" id="image-slider">
  <h3 class="image-slider_title">Наша команда</h3>
  <h4 class="team-name">( Сливовий квартет )</h4>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper_container">
          <div class="std-img_wrapper">
            <img
              src="https://i.pinimg.com/736x/43/4f/12/434f12781a3eeb3b04dec93882ef503e.jpg"
              alt="фото студента"
              class="std-img"
            />
          </div>
          <div class="std-info-wrp">
          <h4 class="std-info-wrp_name">Єлизавета Ганношина</h4>
          <p class="std-info-wrp_position">team lead</p>
          <p class="std-info-wrp_work-info">
            Виконала секції: "Камінь-ножиці-папір", "Футбол", "Наша команда".
          </p>
        </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper_container">
          <div class="std-img_wrapper">
            <img
              src="https://i.pinimg.com/736x/43/4f/12/434f12781a3eeb3b04dec93882ef503e.jpg"
              alt="фото студента"
              class="std-img"
            />
          </div>
          <div class="std-info-wrp">
          <h4 class="std-info-wrp_name">Олег Янчук</h4>
          <p class="std-info-wrp_position">scrum master</p>
          <p class="std-info-wrp_work-info">
            Виконав секції: "Модальне вікно", "Перевір в який рік ти народився",
            "Калькулятор часу", "Введіть 3 числа".
          </p>
        </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper_container">
          <div class="std-img_wrapper">
            <img
              src="https://i.pinimg.com/736x/43/4f/12/434f12781a3eeb3b04dec93882ef503e.jpg"
              alt="фото студента"
              class="std-img"
            />
          </div>
          <div class="std-info-wrp">
          <h4 class="std-info-wrp_name">Влад Сельвесюк</h4>
          <p class="std-info-wrp_position">developer</p>
          <p class="std-info-wrp_work-info">
            Виконав секції: "Сортування ігор", "Google динозавр", "Обери вченого/их".
          </p>
        </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper_container">
          <div class="std-img_wrapper">
            <img
              src="https://i.pinimg.com/736x/43/4f/12/434f12781a3eeb3b04dec93882ef503e.jpg"
              alt="фото студента"
              class="std-img"
            />
          </div>
          <div class="std-info-wrp">
          <h4 class="std-info-wrp_name">Назар Ящук</h4>
          <p class="std-info-wrp_position">developer</p>
          <p class="std-info-wrp_work-info">
            Виконав секції: "Вгадай число, яке загадав комп’ютер",
            "Калькулятор".
          </p>
        </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper_container">
          <div class="std-img_wrapper">
            <img
              src="https://i.pinimg.com/736x/43/4f/12/434f12781a3eeb3b04dec93882ef503e.jpg"
              alt="фото студента"
              class="std-img"
            />
          </div>
          <div class="std-info-wrp">
          <h4 class="std-info-wrp_name">Павло Шошин</h4>
          <p class="std-info-wrp_position">developer</p>
          <p class="std-info-wrp_work-info">Виконав секції: "Тогл теми", "Хедер" та "Футер"</p>
        </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next s-button-next custom-swiper-button"></div>
    <div class="swiper-button-prev s-button-prev custom-swiper-button"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
