<section class="image-slider" id="image-slider">
    <h3 class="image-slider_title">Наша команда</h3>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper_container">
            <div class="std-img_wrapper">
              <img src="https://i.pinimg.com/736x/43/4f/12/434f12781a3eeb3b04dec93882ef503e.jpg" alt="фото студента" class="std-img" />
            </div>
            <h4 class="std-name">Ім’я студента</h4>
            <p class="std-info">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </div>
        </div>
        <div class="swiper-slide"> <div class="swiper_container">
          <div class="std-img_wrapper">
            <img src="https://i.pinimg.com/736x/43/4f/12/434f12781a3eeb3b04dec93882ef503e.jpg" alt="фото студента" class="std-img" />
          </div>
          <h4 class="std-name">Ім’я студента</h4>
          <p class="std-info">
            Інформація про роботу, яку він/вона виконав/ла
          </p>
        </div></div>
        <div class="swiper-slide"> <div class="swiper_container">
          <div class="std-img_wrapper">
            <img src="https://i.pinimg.com/736x/43/4f/12/434f12781a3eeb3b04dec93882ef503e.jpg" alt="фото студента" class="std-img" />
          </div>
          <h4 class="std-name">Ім’я студента</h4>
          <p class="std-info">
            Інформація про роботу, яку він/вона виконав/ла
          </p>
        </div></div>
        <div class="swiper-slide"> <div class="swiper_container">
          <div class="std-img_wrapper">
            <img src="https://i.pinimg.com/736x/43/4f/12/434f12781a3eeb3b04dec93882ef503e.jpg" alt="фото студента" class="std-img" />
          </div>
          <h4 class="std-name">Ім’я студента</h4>
          <p class="std-info">
            Інформація про роботу, яку він/вона виконав/ла
          </p>
        </div></div>
        <div class="swiper-slide"> <div class="swiper_container">
          <div class="std-img_wrapper">
            <img src="https://i.pinimg.com/736x/43/4f/12/434f12781a3eeb3b04dec93882ef503e.jpg" alt="фото студента" class="std-img" />
          </div>
          <h4 class="std-name">Ім’я студента</h4>
          <p class="std-info">
            Інформація про роботу, яку він/вона виконав/ла
          </p>
        </div></div>
      </div>
      <div class="swiper-button-next s-button-next custom-swiper-button"></div>
      <div class="swiper-button-prev s-button-prev custom-swiper-button"></div>
      <div class="swiper-pagination"></div>
    </div>
</section>
