<section class="image-slider">
  <h3 class="image-slider_title">Наша команда</h3>
  <h4 class="team-name">( Сливовий квартет )</h4>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper_container">
          <div class="std-img_wrapper">
            <img
              src="img/cam-off-liza.jpg"
              alt="фото студента"
              class="std-img"
              data-off="img/cam-off-liza.jpg"
              data-on="img/cam-on-liza.jpg"
            />
          </div>
          <img 
          class="cam cam-toggle" 
          src="img/videocam_off.svg" 
          alt="camera" 
          data-off="img/videocam_off.svg" 
          data-on="img/videocam.svg"
        />
          <h4 class="std-name">Єлизавета Ганношина</h4>
          <p class="std-position">team lead</p>
          <p class="std-info">Виконала секції: "Камінь-ножиці-папір", "Футбол", "Наша команда". </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper_container">
          <div class="std-img_wrapper">
            <img
              src="https://i.pinimg.com/736x/43/4f/12/434f12781a3eeb3b04dec93882ef503e.jpg"
              alt="фото студента"
              class="std-img"
            />
          </div>
          <h4 class="std-name">Ім’я студента</h4>
          <p class="std-position">scrum master</p>
          <p class="std-info">Інформація про роботу, яку він/вона виконав/ла</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper_container">
          <div class="std-img_wrapper">
            <img
              src="https://i.pinimg.com/736x/43/4f/12/434f12781a3eeb3b04dec93882ef503e.jpg"
              alt="фото студента"
              class="std-img"
            />
          </div>
          <h4 class="std-name">Ім’я студента</h4>
          <p class="std-position">developer</p>
          <p class="std-info">Інформація про роботу, яку він/вона виконав/ла</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper_container">
          <div class="std-img_wrapper">
            <img
              src="https://i.pinimg.com/736x/43/4f/12/434f12781a3eeb3b04dec93882ef503e.jpg"
              alt="фото студента"
              class="std-img"
            />
          </div>
          <h4 class="std-name">Ім’я студента</h4>
          <p class="std-position">developer</p>
          <p class="std-info">Інформація про роботу, яку він/вона виконав/ла</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper_container">
          <div class="std-img_wrapper">
            <img
              src="https://i.pinimg.com/736x/43/4f/12/434f12781a3eeb3b04dec93882ef503e.jpg"
              alt="фото студента"
              class="std-img"
            />
          </div>
          <h4 class="std-name">Ім’я студента</h4>
          <p class="std-position">developer</p>
          <p class="std-info">Інформація про роботу, яку він/вона виконав/ла</p>
        </div>
      </div>
    </div>
    <div class="swiper-button-next s-button-next custom-swiper-button"></div>
    <div class="swiper-button-prev s-button-prev custom-swiper-button"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
