<section class="max-of-three">
    <h3 class="max-of-three__title">Введіть 3 числа</h3>
    <div class="max-of-three__inputs">
        <input type="number" id="max-of-three__input-1" class="max-of-three__input" placeholder="Введіть число">
        <input type="number" id="max-of-three__input-2" class="max-of-three__input" placeholder="Введіть число">
        <input type="number" id="max-of-three__input-3" class="max-of-three__input" placeholder="Введіть число">
    </div>
    <p class="max-of-three__result">
        Найбільше число, яке ви ввели - <span id="max-of-three__output"></span>
    </p>
</section>
