<section class="rock-paper-scissors">
  <div class="container">
    <h3 class="rps_title">Камінь - ножиці - папір</h3>
  <div class="rps-container">
    <div class="user-choices">
      <button class="user-choice_btn" type="button" data-choice="rock">
        <img
          class="user-choice-rock-icon"
          src="img/stone-icon.svg"
          alt="rock-icon"
        />
      </button>
      <button class="user-choice_btn" type="button" data-choice="scissors">
        <img
          class="user-choice-icon"
          src="img/scissors-icon.svg"
          alt="scissors-icon"
        />
      </button>
      <button class="user-choice_btn" type="button" data-choice="paper">
        <img
          class="user-choice-icon"
          src="img/paper-icon.svg"
          alt="paper-icon"
        />
      </button>
    </div>
    <div class="rps-scoreboard">
      <p class="rps-scoreboard-item">Рахунок : </p>
      <p class="rps-scoreboard-item">
        Комп’ютер - <span id="rps-computer-score">0</span>
      </p>
      <p class="rps-scoreboard-item">Ви - <span id="rps-user-score">0</span></p>
    </div>
  </div>
  <p class="rps-message">Почніть гру</p>
  <button class="computer-choice_btn" type="button">Варіант комп’ютера</button>
  <p class="rps-message-computer-choice"></p>
  </div>
</section>
