<section class="scientists-selection">
    <h3 class="scientists-selection__title">Обери вченого/их</h3>

    <div class="scientists-selection__grid">
        <div class="scientists-selection__item"></div>
        <div class="scientists-selection__item"></div>
        <div class="scientists-selection__item"></div>
        <div class="scientists-selection__item"></div>
        <div class="scientists-selection__item"></div>
        <div class="scientists-selection__item"></div>
        <div class="scientists-selection__item"></div>
        <div class="scientists-selection__item"></div>
        <div class="scientists-selection__item"></div>
        <div class="scientists-selection__item"></div>
        <div class="scientists-selection__item"></div>
        <div class="scientists-selection__item"></div>
    </div>

    <div class="scientists-selection__actions-wrapper">

        <div class="scientists-selection__wrapper-left">
            <button class="scientists-selection__btn" data-action="born-in-19-century">Які вчені народилися в 19 ст.</button>
            <button class="scientists-selection__btn" data-action="sort-by-alphabet">Відсортувати вчених за алфавітом</button>
            <button class="scientists-selection__btn" data-action="sort-by-lifespan">Відсортувати вчених за кількістю прожитих років</button>
            <button class="scientists-selection__btn" data-action="find-latest-born">Знайти вченого, який народився найпізніше</button>
        </div>

        <div class="scientists-selection__wrapper-right">
            <button class="scientists-selection__btn" data-action="find-einstein-year">Знайти рік народження Albert Einstein</button>
            <button class="scientists-selection__btn" data-action="find-lastname-c">Знайти вчених, прізвища яких починаються на літеру "С"</button>
            <button class="scientists-selection__btn" data-action="delete-name-a">Видалити всіх вчених, ім'я яких починається на "A"</button>
            <button class="scientists-selection__btn" data-action="find-oldest-youngest">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
        </div>

    </div>

    <button class="scientists-selection__btn" style="margin-top: 18px" data-action="find-match-initials">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
</section>