<section class="calculator">
    <h3 class="calculator__title">Калькулятор</h3>
    <div class="calculator__wrp">
    <input type="text" class="calculator__input" id="num1" placeholder="Введіть число">
    <div class="wrap">
    <button id="add" class="calculator__button">+</button>
    <button id="subtract" class="calculator__button">-</button>
    <button id="multiply" class="calculator__button">×</button>
    <button id="divide" class="calculator__button">/</button>
</div>
    <input type="text" class="calculator__input" id="num2" placeholder="Введіть число">
    <button id="result" type="button" class="calculator__button">=</button>
    <input type="text" id="input-result" class="calculator__input" placeholder="Результат">
</div>
</section>