<section class="calculator">
    <div class="wrapper">
        <input type="text" class="calculator__input" id="num1">
        <button id="add" class="calculator__button">+</button>
        <button id="subtract" class="calculator__button">-</button>
        <button id="multiply" class="calculator__button">×</button>
        <button id="divide" class="calculator__button">÷</button>
        <input type="text" class="calculator__input" id="num2">
        <button id="result" type="button" class="calculator__button">=</button>
        <input type="text" id="input-result" class="calculator__input">
    </div>
</section>