<section class="time-converter">
    <h3 class="time-converter__title">Калькулятор часу</h3>
    <div class="time-converter__content">
        <div class="time-converter__input-wrapper">
            <input type="number" id="time-converter__input" class="time-converter__input">
        </div>
        <p class="time-converter__result">
            <span id="time-converter__output-days">00</span> дн.
            <span id="time-converter__output-hours">00</span>:<span id="time-converter__output-minutes">00</span>:<span id="time-converter__output-seconds">00</span>
        </p>
    </div>
</section>