// Import all of Bootstrap's CSS
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0;
}

// base
@import "./base/reset";
@import "./base/reset";

// components
@import "./components/buttons";
@import "./components/containers";

// untills
@import "./untills/colors";

// main
@import "./sections/header";
@import "./sections/games/leap-year-check";
@import "./sections/games/guess-the-number";
@import "./sections/games/rock-paper-scissors";
@import "./sections/games/simple-calculator";
@import "./sections/games/time-converter";
@import "./sections/games/dino-game";
@import "./sections/games/ball-move";
@import "./sections/games/max-of-three";
@import "./sections/games/image-slider";
@import "./sections/games/scientists-data";
@import "./sections/footer.scss";

// modal
@import "./sections/modal/sign-up";
@import "./sections/modal/success";

.main__bg {
  position: relative;
  z-index: 0;

  .bg__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.main__content {
  width: 1090px;
  background-color: #ffffff;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.main-content__title {
  text-align: center;
  margin: 36px;

  font-family: Montserrat Alternates;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.26px;
}

.line {
  margin: 0 auto;
  width: 536px;
  border: 1px solid #000000;
  opacity: 1;
  color: #000000;
}
