* {
  padding: 0;
  margin: 0;
}

.dino-game {
  padding: 36px 0;
  text-align: center;

  &__title {
    font-family: Montserrat Alternates;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
  }

  &__container {
    max-width: 600px;
    height: 200px;
    border: 1px solid #000000;
    margin: 0 auto;
    margin-top: 36px;
    position: relative;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    border: none;
    background: #000000;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    transition: all 0.3s, box-shadow 0.3s;
    transform: translate(-50%, -50%);

    font-family: Montserrat Alternates;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.63px;
    text-align: right;

  }


  &__score{
    font-family: Montserrat Alternates;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
    color: #000000;
  }

}

#dinoGamePlayer {
  width: 70px;
  height: 70px;
  background-image: url(../img/dino.png);
  background-size: auto 70px;
  position: relative;
  top: 143px;
}

#dinoGameCactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 91px;
  left: 580px;
  background-image: url(../img/cactus.png);
  background-size: 20px 40px;
  animation: cactus-block 1.2s infinite linear;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 143px;
  }
  30% {
    top: 115px;
  }
  50% {
    top: 70px;
  }
  80% {
    top: 115px;
  }
  100% {
    top: 143px;
  }
}

@keyframes cactus-block {
  0% {
    left: 600px;
  }
  100% {
    left: -20px;
  }
}
// adaptive Vlad

/* Extra Large: 1200px - 1300px */
@media (max-width: 1300px) {
  .container {
    max-width: 1140px;
  }
}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
  .container {
    padding: 0 15px;
    max-width: 100%;
  }
}
