.image-slider {
  padding: 36px 0;
  margin: 0;
  &_title {
    text-align: center;
    font-size: 16px;
    line-height: 80%;
    font-weight: 400;
    padding-bottom: 12px;
    margin: 0;
  }
}
.swiper {
  position: relative;
  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
  }
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-name {
  text-align: center;
  font-size: 14px;
  line-height: 80%;
  font-weight: 400;
  padding-bottom: 36px;
  margin: 0;
}

.std-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  &_wrapper {
    width: 150px;
    height: 150px;
    background-color: $grey;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s, box-shadow 0.3s;
  }
}

.std-info-wrp {
  max-width: 384px;
  width: 100%;
  &_name {
    font-size: 14px;
    line-height: 121%;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 8px;
    margin: 0;
  }
  &_position {
    font-size: 14px;
    line-height: 121%;
    font-weight: 400;
    margin: 0;
    padding-bottom: 20px;
  }
  &_work-info {
    font-size: 14px;
    line-height: 121%;
    font-weight: 400;
    margin-bottom: 14px;
  }
  @media (max-width: 575px) {
    .container {
      padding: 0 15px;
      max-width: 100%;
    }
    .std-info-wrp_work-info,
    .std-info-wrp_position,
    .std-info-wrp_name {
      font-size: 13px;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  top: var(--swiper-navigation-top-offset, 25%) !important;
  outline: none !important;
}

.swiper-button-prev {
  background-image: url(/public/img/arrow-prew.svg);
  left: 92px !important;
}

.swiper-button-next {
  background-image: url(/public/img/arrow-next.svg);
  right: 92px !important;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

:root {
  --swiper-navigation-size: 100px !important;
}

.swiper-pagination {
  position: absolute;
}
.swiper-pagination-bullet-active {
  background-color: #797979 !important;
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .swiper-button-next {
    right: 0px !important;
  }
  .swiper-button-prev {
    left: 0px !important;
  }
}
@media (max-width: 575px) {
  .container {
    padding: 0 15px;
    max-width: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
