.image-slider {
  padding: 36px 0;
  margin: 0;
}
.swiper {
  position: relative;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 15px;
}
.image-slider_title {
  text-align: center;
  font-size: 16px;
  line-height: 80%;
  font-weight: 400;
  color: $dark;
  padding-bottom: 12px;
  margin: 0;
}
.team-name{
  text-align: center;
  font-size: 14px;
  line-height: 80%;
  font-weight: 400;
  color: #797979;
  padding-bottom: 36px;
  margin: 0;
}


// інформація про студента
.std-img_wrapper {
  width: 150px;
  height: 150px;
  background-color: $grey;
  border-radius: 20px;
  overflow: hidden;
  position: relative;

}
.std-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.std-name {
  font-size: 14px;
  line-height: 121%;
  font-weight: 400;
  color: $dark;
  padding-top: 20px;
  padding-bottom: 8px;
  margin: 0;
}
.std-position{
  font-size: 14px;
  line-height: 121%;
  font-weight: 400;
  color: #797979;
  margin: 0;
  padding-bottom: 20px;
}
.std-info {
  font-size: 14px;
  line-height: 121%;
  font-weight: 400;
  color: $dark;
  margin-bottom: 14px;
  max-width: 415px;
}

// стрілки
.swiper-button-prev, .swiper-button-next {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  top: var(--swiper-navigation-top-offset, 25%) !important;
  outline:none !important;
}

.swiper-button-prev {
  background-image: url( /public/img/arrow-prew.svg) !important;
  left: 92px !important;
}

.swiper-button-next {
  background-image: url(/public/img/arrow-next.svg) !important;
  right: 92px !important;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

:root{
  --swiper-navigation-size: 100px !important;
}


// пагінація
.swiper-pagination {
  position: absolute;
}
.swiper-pagination-bullet-active {
  background-color: #797979 !important;
}
