.rock-paper-scissors {
  align-items: center;
  text-align: center;
  padding: 36px 0 0 0;
  &__title {
    font-size: 16px;
    line-height: 80%;
    font-weight: 400;
  }
  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    margin-top: 36px;
  }
  &__scoreboard {
    position: absolute;
    right: 160px;
    gap: 38px;
    font-size: 12px;
    line-height: 170%;
    font-weight: 400;
    text-align: left;
    min-width: 150px;
  }
}

.user-choices {
  display: flex;
  gap: 38px;
  justify-content: center;
  flex: 1;
}
.user-choice_btn {
  background-color: $dark;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s, box-shadow 0.3s;
  &:hover {
    transform: scale(1.02);
  }
}
.user-choice-btn_selected {
  background-color: $grey;
  border: none;
}

.rps-scoreboard-item {
  margin: 0;
}

.rps-message {
  margin: 36px 0 0 0;
  font-size: 12px;
  line-height: 125%;
  font-weight: 400;
}

.computer-choice_btn {
  margin-top: 36px;
  padding: 10px 20px;
  background-color: $dark;
  border-radius: 20px;
  color: $light;
  font-size: 12px;
  line-height: 125%;
  font-weight: 400;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s, box-shadow 0.3s;
  &:hover {
    transform: scale(1.02);
  }
}

.rps-message-computer-choice {
  margin: 30px 0;
  font-size: 12px;
  line-height: 125%;
  font-weight: 400;
}
.rps-message-computer-choice_hidden {
  display: none;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .rock-paper-scissors__scoreboard {
    right: 100px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .user-choices {
    gap: 34px;
  }
  .rock-paper-scissors__scoreboard {
    right: -15px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .user-choices {
    gap: 24px;
  }
  .rock-paper-scissors__scoreboard {
    right: -50px;
  }
  .user-choice_btn {
    padding: 9px;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 0 15px;
    max-width: 100%;
  }
  .user-choices {
    gap: 14px;
  }
  .user-choice_btn {
    padding: 8px;
  }
  .rock-paper-scissors__scoreboard {
    display: none;
  }
}