.calculator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 629px;
  margin-top: 49px;
  margin-bottom: 48px;
  margin-left: 230px;
  
 
  &__input {
      width: 135px;
      height: 35px;
      border-radius: 20px;
      border: none;
      box-shadow: 3px 3px 0 0 #00000040;
      padding: 10px 0 10px 20px;
      
      background-color: #D7D7D7;
      font-family: Montserrat Alternates;
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0%;
  }
  &__button {
      width: 25px;
      height: 25px;
      border-radius: 20px;
      border: 0;
      background-color: #000000;
      color: #FFFFFF;
      box-shadow: 3px 3px 0 0 #00000040;
      &:focus {
        background-color: dodgerblue;
      }
  }
  &__wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      width: 65px;
      height: 61px;
  }
 
}