<div class="sign-up__backdrop" data-modal-signUp>
  <div class="sign-up__modal">
    <div class="close-modal-btn" data-modal-close-signUp>
      <img src="img/close-btn.svg" />
    </div>
    <form class="sign-up__form">
      <h2 class="sign-up__title">
        <span>Привіт!</span>
        <span>Ви потрапили на сайт інтерактивних ігор та завдань</span>
        <span
          >Сподіваємося, що вам сподобається і ви отримаєте позитивні
          емоції!</span
        >
        <span>Бажаємо Вам гарно провести час!</span>
      </h2>
      <p class="sign-up__hint">Введіть своє ім’я:</p>
      <input class="sign-up__input" placeholder="Ваше ім’я..." />
      <button class="sign-up__submit" type="button">Зберегти</button>
    </form>
    <div class="sign-up_icons">
      <img class="sign-up_sword" src="img/sword.svg" alt="sword" />
      <img class="sign-up_puzzle" src="img/puzzle.svg" alt="puzzle" />
      <img class="sign-up_game-development" src="img/game-development.svg" alt="game-development" />
      <img class="sign-up_tic-tac-toe" src="img/tic-tac-toe.svg" alt="tic-tac-toe" />
    </div>
  </div>
</div>
