<div class="success__backdrop" data-modal-success>
    <div class="success__modal">
        <div class="close-modal-btn" data-modal-close-success>
            <img src="img/close-btn.svg" />
        </div>
        <h2 class="success__title">Дякую за підписку!</h2>
        <div class="success_icons">
            <img class="success_sword" src="img/sword.svg" alt="sword" />
            <img class="success_puzzle" src="img/puzzle.svg" alt="puzzle" />
            <img class="success_game-development" src="img/game-development.svg" alt="game-development" />
            <img class="success_tic-tac-toe" src="img/tic-tac-toe.svg" alt="tic-tac-toe" />
        </div>
    </div>
</div>
