<script src="js/footer.js" defer type="module"></script>
  <footer class="footer" id="footer">
    <footer class="footer" id="footer">
      <div class="container footer__wrp">
        <img src="img/footer-logo.svg" alt="" class="footer-img">
        <ul class="footer__contacts">
          <li><p class="footer__contacts-text">Тел: +38 (123) 456 78 90</p></li>
          <li><p class="footer__contacts-text">E-Mail: codingmagic@gmail.com</p></li>
          <li><p class="footer__contacts-text">Facebook: CodingMagic</p></li>
          <li><p class="footer__contacts-text">Twitter: CodingMagic</p></li>
          <li><p class="footer__contacts-text">Instagram: CodingMagic</p></li>
        </ul>

        <form class="footer__subscribe">
          <input
            type="email"
            id="footerSubEmail"
            class="footer-subscribe__input"
            placeholder="Ваша ел. адреса..."
          />
          <button class="footer-subscribe__send" type="button">
            Підписатись
          </button>
          <p class="footer__subscribe-text">
            *Підписавшись, Ви зможете ортимувати інформаццію про новинки на
            сайті
          </p>
        </form>
      </div>
    </footer>
  </footer>