<script src="js/footer.js" defer type="module"></script>
  <footer class="footer" id="footer">
      <div class="container footer__wrp">
        <img src="img/footer-logo.svg" alt="logo" class="footer-logo" />
        <ul class="footer__contacts">
          <li><a class="footer__contacts-text" href="tel:+38 (123) 456 78 90">Тел: +38 (123) 456 78 90</a></li>
          <li><a class="footer__contacts-text" href="mailto:codingmagic@gmail.com">E-Mail: codingmagic@gmail.com</a>
          <li><a class="footer__contacts-text" href="https://www.facebook.com/?locale=uk_UA">Facebook: CodingMagic</a>
          </li>
          <li><a class="footer__contacts-text" href="https://x.com/">Twitter: CodingMagic</a></li>
          <li><a class="footer__contacts-text" href="https://www.instagram.com/">Instagram: CodingMagic</a></li>
        </ul>

        <form class="footer__subscribe">
          <input
            type="email"
            id="footerSubEmail"
            class="footer-subscribe__input"
            placeholder="Ваша ел. адреса..."
          />
          <button class="footer-subscribe__send" type="button">
            Підписатись
          </button>
          <p class="footer__subscribe-text">
            *Підписавшись, Ви зможете ортимувати інформаццію про новинки на
            сайті
          </p>
        </form>
      </div>
  </footer>