<script src="js/footer.js" defer type="module"></script>
  <footer class="footer" id="footer">
      <div class="container footer__wrp">
        <img src="img/footer-logo.svg" alt="logo" class="footer-logo" />
        <ul class="footer__contacts">
          <li><p>Тел: +38 (123) 456 78 90</p></li>
          <li><p>E-Mail: codingmagic@gmail.com</p></li>
          <li><p>Facebook: CodingMagic</p></li>
          <li><p>Twitter: CodingMagic</p></li>
          <li><p>Instagram: CodingMagic</p></li>
        </ul>

        <form class="footer__subscribe">
          <input
            type="email"
            id="footerSubEmail"
            class="footer-subscribe__input"
            placeholder="Ваша ел. адреса..."
          />
          <button class="footer-subscribe__send" type="button">
            Підписатись
          </button>
          <p>
            *Підписавшись, Ви зможете ортимувати інформаццію про новинки на
            сайті
          </p>
        </form>
      </div>
  </footer>