<header class="header">
  <div class="container header__wrp">
  <div class="header__left">
    <img src="img/header-logo.svg" alt="">

    <nav class="header-left__nav">
      <div class="header-left__nav-interactive">
        <p>Інтерактив</p>
        <img src="img/header-arrow.svg" alt="">
      </div>

    <p data-section="image-slider">Наша команда</p>
    <p data-section="footer">Контакти</p>
    </nav>
  </div>

  <div class="header-right">
    <p>Вітаємо, <span id="header-output">User</span>!</p>
  </div>
</div>
</header>