<header class="header">

  <div class="header__left">
    <img src="img/header-logo.svg" alt="">

    <nav class="header-left__nav">
      <ul class="header-left__ul">
        <li class="header-left__li"><a href="./" class="header-left__href">Інтерактив <img src="img/header-arrow.svg"></a></li>
      </ul>
      <!-- <div class="header-left__nav-interactive"> -->
      <!-- <p></p> -->

  </div>
  <p>Наша команда</p>
  <p>Контакти</p>
  </nav>
  </div>

  <div class="header-right">
    <p>Вітаємо, <span>User</span>!</p>
  </div>
</header>